.channel-users {
    color: white;
}

.channel-users-list {
    overflow-y: auto;
    scrollbar-color: var(--chat-header-color-bg) var(--chat-userlist-color-bg);
    scrollbar-width: thin;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
}