.channel-message {
    position: relative;
    display: grid;
    grid-template-areas:
        "picture name date"
        "picture content content"
        "ops ops ops";
    grid-template-columns: auto 1fr auto;
    gap: 0 0.5rem;
    width: 100%;
    background-color: var(--chat-message-color-bg);
    color: var(--chat-message-color-text);
    border-radius: 8px;
    padding: 0.3rem;
}

.channel-message-ops {
    grid-area: ops;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.1rem 0.5rem;
    margin-top: 0.25rem;
}

.channel-message-ops button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    border-radius: 10px;
}

.channel-message-ops button:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.channel-message-ops button img {
    width: 18px;
    height: 18px;
}

.channel-message-picture {
    grid-area: picture;
    width: 32px;
    height: auto;
}

.channel-message-name {
    grid-area: name;
    font-weight: 700;
    text-align: left;
    font-family: var(--font-heading);
    font-size: 0.9rem;
    color: var(--chat-message-color-heading);
}

.channel-message-date {
    grid-area: date;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    font-family: var(--font-heading);
    color: var(--chat-message-color-heading);
}

.channel-message-text {
    grid-area: content;
    text-align: left;
    padding: 0 1rem 0 0;
}

/* Styling for message markdown */
.channel-message-text img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
}

.channel-message-text a {
    color: orange;
}

.channel-message-text blockquote {
    position: relative;
    font-size: 0.9rem;
    font-style: italic;
    padding: 0.1rem 1.2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.channel-message-text blockquote::before {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    content: '”';
    margin-left: 0.2rem;
    font-size: 2rem;
    font-family: "Times New Roman", serif;
}

.channel-message-text blockquote::after {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    content: '”';
    margin-right: 0.5rem;
    font-size: 2rem;
    font-family: "Times New Roman", serif;
}

.channel-message-text code {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    width: 100%;
}

.error-message {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: darkred;
    color: white;
    padding: 0.25rem 1rem 0.25rem 2rem;
    border-radius: 0px 10px 0px 8px;
    font-family: var(--font-heading);
    font-size: 0.9rem;
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem 0.2rem;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}