/*
    Group ReChat - Examensarbete uppgift - Kristoffer Bengtsson (FE23)

    Stylesheet for a channel button in the list of joinable channels. 
*/
.channel-list-item {
    background-color: var(--chat-channel-join-button-color-bg);
    color: var(--chat-channel-join-button-color-text);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(20, 20, 20, 0.3);
}

.channel-list-item:hover {
    background-color: var(--chat-channel-join-button-hover-bg);
    color: var(--chat-channel-join-button-hover-text);
}

.channel-list-item > a {
    display: grid;
    grid-template-areas: "icon name" "icon desc" "icon perm";
    justify-content: start;
    align-items: start;
    gap: 0 1rem;
}

.channel-list-icon {
    grid-area: icon;
}

.channel-list-name {
    grid-area: name;
    margin: 0px;
    font-size: 1.5rem;
    color: var(--chat-channel-join-button-color-name);
    text-align: left;
}

.channel-list-item:hover .channel-list-name {
    color: var(--chat-channel-join-button-hover-name);
}


.channel-list-desc {
    grid-area: desc;
    font-size: 0.9rem;
    text-align: left;
    color: white;
}

.channel-list-perm {
    grid-area: perm;
    font-size: 0.7rem;
    text-align: left;
    color: lightgray;
}