.channel-leave {
    padding: 0.5rem;
}

.channel-leave button {
    border: 0;
    border-radius: 10px 10px 10px 10px;
    padding: 0.2rem 0.5rem;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    width: 100%;
    min-height: 2rem;
    cursor: pointer;
}

.channel-leave button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}