.channel-leave {
    padding: 0.5rem;
}

.channel-leave button {
    border: 0;
    border-radius: 10px 10px 10px 10px;
    padding: 0.2rem 0.5rem;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    width: 100%;
    min-height: 2rem;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.channel-leave button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.channel-leave button img {
    width: 18px;
    height: 18px;
}

.busy {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    z-index: 1;
}

.error-message {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: darkred;
    color: white;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 0px 10px 10px 0px;
    font-family: var(--font-heading);
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

@media all and (max-width: 700px) {

    .channel-leave {
        position: absolute;
        bottom: 3px;
        right: 3px;
        padding: 0.5rem;
        z-index: 1;
        opacity: 0.9;
    }

    .channel-leave button {
        border: 0;
        border-radius: 50%;
        padding: 0.5rem;
        padding: 0.2rem 0.5rem;
        background-color: var(--button-normal-bg);
        color: var(--button-normal-text);
        width: 100%;
        min-height: 2rem;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 35px;
        height: 35px;
        border: 3px solid white;
    }

    .channel-leave button img {
        width: 25px;
        height: auto;
    }

    .channel-leave button span {
        display: none;
    }

}