/*
    Group ReChat - Examensarbete uppgift - Kristoffer Bengtsson (FE23)

    Stylesheet for the chat channel page component. 
*/
.channel-page {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.channel-page-header {
    background-color: var(--chat-header-color-bg);
    color: var(--chat-header-color-text);
    height: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "channel-title channel-desc";
    align-items: center;
    justify-content: start;
}

.channel-page-title {
    grid-area: channel-title;
    margin: 0;
    padding: 0.2rem;
    max-height: 100%;
    overflow: auto;
    font-family: var(--font-heading);
    font-size: 1.3rem;
    line-height: 100%;
}

.channel-page-desc {
    grid-area: channel-desc;
    font-size: 0.75rem;
    padding: 0.5rem;
    max-height: 100%;
    overflow: auto;
    text-align: left;
}

.channel-page-content {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.channel-page-users {
    grid-area: userlist;
    background-color: var(--chat-userlist-color-bg);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 225px;
    display: flex;
    flex-direction: column;
}

.channel-page-messages {
    grid-area: messages;
    background-color: var(--chat-messagelist-color-bg);
    position: absolute;
    top: 0px;
    left: 225px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.error-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: darkred;
    color: white;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 10px 0px 0px 10px;
    font-family: var(--font-heading);
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.login-message {
    background-color: darkred;
    color: white;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 0px 0px 10px 10px;
    font-family: var(--font-heading);
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    text-align: left;
}

.login-message a {
    color: white;
    font-weight: 700;
}

.busy {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    width: 35px !important;
    height: 35px !important;
    z-index: 1;
}

.busy-editor {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    z-index: 1;
}

.channel-editor-button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    cursor: pointer;
}

.channel-editor-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.channel-editor-button img {
    width: 100%;
    height: auto;
    margin: 0;
}


@media all and (max-width: 700px) {

    .channel-page-users {
        top: 75%;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        border-top: 1px solid var(--chat-header-color-bg);
    }

    .channel-page-messages {
        top: 0px;
        left: 0px;
        bottom: 25%;
        right: 0px;
    }

}