.channel-join {
    background-color: var(--tab-active-color-bg);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.channel-join h2 {
    margin: 0;
}

.channel-join-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.channel-create {
    display: block;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    width: fit-content;
}

.channel-create:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}