/*
    Group ReChat - Examensarbete uppgift - Kristoffer Bengtsson (FE23)

    Stylesheet for component listing all users participating in a channel. 
*/
.channel-users-list {
    overflow-y: auto;
    scrollbar-color: var(--chat-header-color-bg) var(--chat-userlist-color-bg);
    scrollbar-width: thin;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
    position: relative;
}

.busy {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    margin-right: 1rem;
    margin-top: 1rem;
    width: 50px !important;
    height: 50px !important;
    z-index: 1;
}

.error-message {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: darkred;
    color: white;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 0px 10px 10px 0px;
    font-family: var(--font-heading);
    font-size: 0.9rem;
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

@media all and (max-width: 700px) {
    .channel-users-list {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        gap: 0.3rem;
        padding: 0.5rem;
    }
}