.channel-user {
    display: grid;
    grid-template-areas:
        "picture name"
        "picture activity";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0px 0.5rem;
    font-family: var(--font-heading);
    background-color: var(--chat-user-color-bg);
    color: var(--chat-user-color-text);
    border-radius: 10px;
}

.channel-user-picture {
    grid-area: picture;
    width: 40px;
    height: auto;
}

.channel-user-name {
    grid-area: name;
    text-align: left;
    font-weight: 400;
    font-size: 1.1rem;
}

.channel-user-activity {
    grid-area: activity;
    font-size: 0.75rem;
    text-align: left;
}

.channel-user-active {
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    margin-left: 0.4rem;
    background-color: green;
}

.channel-user-inactive {
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    margin-left: 0.4rem;
    background-color: red;
}