/*
    Group ReChat - Examensarbete uppgift - Kristoffer Bengtsson (FE23)

    Stylesheet for post new message form component. 
*/
.channel-new-message {
    padding: 0.5rem;
}

.channel-new-message form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "content expand submit";
    justify-content: start;
    align-items: center;

}

.messagefield {
    position: relative;
    grid-area: content;
    width: 100%;
}

.channel-new-message input {

    border: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0.2rem 0.5rem;
    min-height: 2rem;
    width: 100%;
}

.messagexp:focus,
.channel-new-message input:focus {
    outline: 0;
}

.messagexp {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0.2rem 0.5rem;
    width: 100%;
    min-height: 80px;
    border-radius: 10px 0px 10px 10px;
    border: 0;
    resize: vertical;
    font-family: var(--font-content);
    border-right: 5px solid var(--button-normal-bg);
    z-index: 1;
}

.channel-new-button {
    grid-area: submit;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 0.2rem 0.5rem;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    cursor: pointer;
    min-height: 2rem;
    display: flex;
    align-items: center;
}

.channel-exp-button {
    grid-area: expand;
    border: 0;
    border-radius: 0px;
    padding: 0.2rem 0.5rem;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    cursor: pointer;
    min-height: 2rem;
    display: flex;
    align-items: center;
}

.channel-exp-button:hover,
.channel-new-button:hover {
    color: var(--button-hover-text);
    background-color: var(--button-hover-bg);
}

.channel-exp-button img,
.channel-new-button img {
    width: 20px;
    height: 20px;
    margin: 0 0.2rem 0 0;
    padding: 0;
}

.error-message {
    position: absolute;
    background-color: darkred;
    color: white;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 10px;
    font-family: var(--font-heading);
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem center;
    background-repeat: no-repeat;
}

.busy {
    position: absolute;
    z-index: 1;
    margin-left: 0.4rem;
}