.channel-messages-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 0.5rem;
    overflow-y: auto;
    scrollbar-color: var(--chat-header-color-bg) var(--chat-messagelist-color-bg);
    scrollbar-width: thin;
}