.channel-new-message {
    padding: 0.5rem;
}

.channel-new-message form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "content submit";
    justify-content: start;
    align-items: center;

}

.channel-new-message input {
    grid-area: content;
    border: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0.2rem 0.5rem;
    min-height: 2rem;
}

.channel-new-message input:focus {
    outline: 0;
}

.channel-new-message button {
    grid-area: submit;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 0.2rem 0.5rem;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    cursor: pointer;
    min-height: 2rem;
    display: flex;
    align-items: center;
}

.channel-new-message button:hover {
    color: var(--button-hover-text);
    background-color: var(--button-hover-bg);
}

.channel-new-button-icon {
    width: 20px;
    height: 20px;
    margin: 0 0.2rem 0 0;
    padding: 0;
}