.picture {
    height: 50px;
    width: auto;
}

.nickname {
    font-size: 1.2rem;
    text-align: left;
}

.email {
    font-size: 0.9rem;
    text-align: left;
}

.user-profile-button {
    width: fit-content;
    background-color: var(--user-button-color-bg);
    color: var(--user-button-color-text);
    border-radius: 15px;
    padding: 0.2rem;
}

.user-profile-card > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    padding: 0.3rem;
}

.logoff-form button {
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
}

.logoff-form button:hover {
    background-color: orange;
    color: black;
}