.picture {
    height: 50px;
    width: auto;
}

.nickname {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.email {
    font-size: 0.9rem;
    text-align: left;
}

.user-profile-button {
    width: fit-content;
    background-color: var(--user-button-color-bg);
    color: var(--user-button-color-text);
    border-radius: 15px;
    padding: 0.2rem;
}

.user-profile-card {
    display: grid;
    justify-content: end;
    align-items: center;
    gap: 0 0.7rem;
    padding: 0.3rem;
    grid-template-areas: "picture nickname" "picture logoff";
    grid-template-rows: 1fr auto;
}

.picture-link {
    grid-area: picture;
}

.nickname-link {
    grid-area: nickname;
}

.logoff-form {
    grid-area: logoff;
    text-align: right;
}


.logoff-form button {
    border: 0;
    border-radius: 8px;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
}

.logoff-form button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.login-link {
    border: 0;
    border-radius: 8px;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
}

.login-link:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}