.picture {
    height: 42px;
    width: auto;
}

.nickname {
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
}

.email {
    font-size: 0.9rem;
    text-align: left;
}

.user-profile-button {
    width: fit-content;
    background-color: var(--user-button-color-bg);
    color: var(--user-button-color-text);
    border-radius: 15px 15px 0px 0px;
    padding: 0.2rem;
}

.user-profile-card {
    display: grid;
    justify-content: end;
    align-items: center;
    gap: 0 0.7rem;
    padding: 0.3rem;
    grid-template-areas: "picture nickname" "picture logoff";
    grid-template-rows: 1fr auto;
    position: relative;
}

.picture-link {
    grid-area: picture;
}

.nickname-link {
    grid-area: nickname;
}

.logoff-form {
    grid-area: logoff;
    text-align: right;
}


.logoff-form button {
    border: 0;
    border-radius: 8px;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
}

.logoff-form button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.login-link {
    border: 0;
    border-radius: 8px;
    background-color: var(--button-normal-bg);
    color: var(--button-normal-text);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
}

.login-link:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.busy {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 45px !important;
    height: 45px !important;
}

.error-message {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: darkred;
    color: white;
    padding: 0.25rem 1rem 0.25rem 2rem;
    border-radius: 0px 0px 10px 0px;
    font-family: var(--font-heading);
    font-size: 0.9rem;
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem 0.2rem;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}