@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --body-color-bg: rgba(60, 60, 60, 1.0);
    --body-color-text: white;
    --footer-color-bg: black;
    --footer-color-text: white;
    --tab-active-color-bg: grey;
    --tab-active-color-text: white;
    --tab-inactive-color-bg: lightgrey;
    --tab-inactive-color-text: black;
    --form-color-bg: black;
    --form-color-text: white;
    --user-button-color-bg: rgba(190, 190, 190, 0.8);
    --user-button-color-text: black;
    --user-profile-box-color-bg: black;
    --user-profile-box-color-text: white;
    --user-profile-box-border: grey;
    --user-profile-heading-color-bg: rgb(50, 50, 50);
    --user-profile-heading-color-text: white;
    --chat-header-color-bg: grey;
    --chat-header-color-text: black;
    --chat-messagelist-color-bg: black;
    --chat-userlist-color-bg: black;
    --chat-user-color-bg: rgb(32, 32, 32);
    --chat-user-color-text: white;
    --chat-message-color-bg: rgba(70, 70, 70, 0.8);
    --chat-message-color-text: rgba(240, 240, 240, 1.0);
    --chat-message-color-heading: rgba(170, 170, 170, 1.0);
    --chat-channel-join-button-color-bg: black;
    --chat-channel-join-button-color-text: white;
    --chat-channel-join-button-color-name: orange;
    --chat-channel-join-button-hover-bg: indigo;
    --chat-channel-join-button-hover-text: white;
    --chat-channel-join-button-hover-name: orange;
    --button-normal-bg: lightseagreen;
    --button-normal-text: black;
    --button-hover-bg: lightsalmon;
    --button-hover-text: black;
    --font-heading: "Roboto Condensed", system-ui, Helvetica, Arial, sans-serif;
    --font-content: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    margin: 0;
    min-width: 320px;
    font-family: var(--font-content);
    background-color: var(--body-color-bg);
    color: var(--body-color-text);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

h2 {
    font-size: 3rem;
}

button {
    font-family: var(--font-heading);
}

#root {
    max-width: 1600px;
    max-height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 0.25rem;
}

#main-content {
    grid-area: main;
    overflow: auto;
    position: relative;
}

footer {
    grid-area: footer;
    background-color: var(--footer-color-bg);
    color: var(--footer-color-text);
}

.error-message {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: darkred;
    color: white;
    padding: 0.25rem 1rem 0.25rem 2rem;
    border-radius: 0px 0px 10px 0px;
    font-family: var(--font-heading);
    font-size: 0.9rem;
    background-image: url("/icons/icon-warning.png");
    background-size: 18px 18px;
    background-position: 0.5rem 0.2rem;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

#busy {
    display: block;
    background-color: rgba(0, 0, 168, 0.9);
    color: white;
    background-image: url("/icons/icon-wait.png");
    background-size: cover;
    background-position: center center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: busy-spin 2s linear infinite;
}

.busy {
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 40px);
    width: 80px !important;
    height: 80px !important;
    z-index: 2;
    border: 3px solid white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

@keyframes busy-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}