#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  border: 1px solid red;
}

footer {
  border: 1px solid blue;
}

main {
  border: 5px solid green;
}

#main-content {
  border: 1px solid cyan;
}